#navbar{
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(251,237,205);
}

#search_input{
    width: 70%;
    height: 50%;
    border-radius: 12px;
}

#sidebar{
    background-color:rgb(251,237,205) ;
    width: 20%;
    margin-top: -20px;
    height: 600px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

#sidebar>h3{
    background-color: teal;
    padding: 3px;
}

#sidebar>h3 a{
    color: black;
    text-decoration: none;
}
